body{
    display: block;
    align-items: center;
    text-align: center;
    background-color: blueviolet;
}
h1{
color: rgb(255, 255, 255);

}
label{
color: rgb(255, 255, 255);
font-size: 20px;
padding: 5px;
border-radius: 8px;
}

input{
padding: 7px;
width: 300px;
border: 0, solid #ccc;
border-radius: 8px;
}

button{
    height: 30px;
    width: 100px;
    background-color: rgb(36, 255, 65);
    border: 0px;
    border-radius: 8px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}